<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="components/head :: head">
  <meta charset="UTF-8">
  <title>Template</title>
</head>
<body>
<header th:replace="components/headerNavbar :: header_navbar"></header>
<div class="container">
<form class="needs-validation"th:object="${event}" th:action="@{/views/events/save}" method="post">
  <div th:insert="components/eventForm:: event_form">
</div>
</form>
</div>
<footer th:replace="/template/template :: footer"></footer>
</body>
</html>