.carousel-inner .carousel-item {
    transition: transform 1s ease;
}

.h1-carousel {
    width: 100%;
    text-align: center;
    color: black;
    background-color: rgba(255,255,255,0.5);
    border-radius:15rem;
    border: 5px solid lightgrey;
    text-shadow: 1px 1px 2px rgba(2, 15, 19, 0.70);
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    transition: 0.4s;
}

.carousel-caption {
    position: absolute;
    top: 40%;
    opacity: 1;
    transition: 1s;
}

.carousel-caption.slide {
    top: 0;
    opacity: 1;
}

.caption-bottom {
    position: relative;
    bottom: 4vh;
    opacity: 1;
    transition: 1s;
}

.caption-bottom.slide {
    bottom: -90vh;
    opacity: 1;
}