<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:insert="components/head :: head">
    <meta charset="UTF-8">
    <title>Events List</title>

</head>
<body>

<header th:replace="components/headerNavbar :: header_navbar">
    <div>
        User: <span sec:authentication="name">NOT FOUND</span>
        Spring Roles: <span sec:authentication="principal.authorities">NOT FOUND</span>
    </div>
    <h1 th:text="${titulo}"></h1>
</header>

<div  th:replace="components/eventsUsersList :: user_events_list"class="card-group">

</div>

<footer th:replace="/template/template :: footer"></footer>
</body>
</html>
