<section th:fragment="user_events_list" class="wrapper">
  <div class="card-group">
    <div class="card home-card">
      <h2 class="heading display-6">
        Your Events
      </h2>
    </div>
    <div class="content">
      <div class="container mb-4">
        <div class="row">
          <div th:each="eventsList:${userEvents}" class="col-xs-12 col-sm-4">
            <div class="card">
              <img class="card-img-top" th:src="${eventsList.image}" th:alt="${eventsList.title}"/>


            </div>
              <div class="card-content">
                <h4 class="card-title">
                  <a th:text="${eventsList.title}" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"></a>
                </h4>
                  <p th:text="${eventsList.id}" class="">
                <p th:text="${eventsList.description}" class="">
                  Descripcion evento
                </p>
                <p th:text="${eventsList.date}" class="time">
                  fecha de evento
                </p>
                <span>Apuntados:</span>
                <span th:text="${eventsList.signed}" class="">
                  plaza</span>
               </div>
              <div class="card-read-more signup">
                <a th:href="@{/users/userEventRemove/}+${eventsList.id}" class="btn btn-link btn-block">
                  Cancela tu suscripción
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>