<div class="card-group" th:fragment="events_list_index">
    <div class="card" th:each="ev:${list}">

        <!-- <p th:text="${#temporals.format(ev.date, 'dd-MMMM-yyyy', new java.util.Locale('en', 'EN'))}">
         <p th:text="${#temporals.format(ev.date, 'dd-MMMM-yyyy', new java.util.Locale('es', 'ES'))}">
         <p th:text="${#temporals.format(localDateTime, 'dd-MMMM-yyyy', new java.util.Locale('fr', 'FR'))}">
         -->
        <h3  th:text="${ev.Date}"></h3>
        <img class="card-img-top" th:src="@{${ev.image}}" th:alt="${ev.title}">
        <div class="card-body">
            <h5 class="card-title" th:text="${ev.title}"></h5>
            <p class="card-text" th:text="${ev.description}"></p>
            <p class="card-text" th:text="${ev.maxPeople}"></p>
           </div>
<!--            <div class="card-read-more signup">-->
<!--                &lt;!&ndash;-->
<!--                <a th:href="@{/views/users/userEventAdd/}+${eventsList.id}" class="btn btn-link btn-block">-->
<!--                    Apuntate!-->
<!--                </a>-->
<!--                &ndash;&gt;-->
<!--                <a th:if="${ev.max_people}>${ev.signed}" th:href="@{/users/userEventAdd/}+${ev.id}" class="btn btn-link btn-block">-->
<!--                    Apuntate!-->
<!--                </a>-->
<!--                <a th:unless="${ev.max_people}>${ev.signed}" class="btn btn-link btn-block text-danger">-->
<!--                    Lleno!-->
<!--                </a>-->
<!--            </div>-->

        <a th:href="@{/users/userEventAdd/}+${ev.id}" type="button" class="btn btn-primary launch" > <i class="fa fa-info"></i> Get information
        </a>
    </div>
</div>
