<div class="card-group" th:fragment="events_list">
    <div class="card" th:each="ev:${list}">
        <button>
            <a class="btn btn-success btn-sm" th:href="@{/views/events/admin/edit/} + ${ev.id} " title="Edit Event">
                <i class="bi bi-pencil-square"></i>
            </a>
        </button>
        <button >
            <a class="btn btn-danger btn-sm" th:href="@{/views/events/admin/delete/}+ ${ev.id}" title="DeleteEvent">
                <i class="bi bi-trash-fill"></i>ss
            </a>
        </button>

        <!-- <p th:text="${#temporals.format(ev.date, 'dd-MMMM-yyyy', new java.util.Locale('en', 'EN'))}">
         <p th:text="${#temporals.format(ev.date, 'dd-MMMM-yyyy', new java.util.Locale('es', 'ES'))}">
         <p th:text="${#temporals.format(localDateTime, 'dd-MMMM-yyyy', new java.util.Locale('fr', 'FR'))}">
         -->
        <h3  th:text="${ev.Date}"></h3>
        <img class="card-img-top" th:src="@{${ev.image}}" th:alt="${ev.title}">
        <div class="card-body">
            <h5 class="card-title" th:text="${ev.title}"></h5>
            <p class="card-text" th:text="${ev.description}"></p>
            <p class="card-text" th:text="${ev.maxPeople}"></p>
            <p class="card-text" th:text="${ev.feature}"></p>
        </div>

    </div>
</div>
