<form th:fragment="formUser">
    <div class="mb-3">
        <label for="name" class="form-label">Email address</label>
        <input type="email" class="form-control" id="name">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="suscribe">
        <label class="form-check-label" for="suscribe">Get update News</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>